.footer {
    background: #262626;
    color: #fff;
    padding: 56px 0 0;
}
.footer-title {
    display: inline-block;
    visibility: hidden;
    padding:  0 2rem;
    margin: 0 auto 12px;
    font-size: 8rem;
    line-height: 1;
    font-weight: 800;
}
.ft-letter, .ft-burst { 
    display: inline-block; 
    will-change: transform, opacity, clip-path; 
}

.footer-content {
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.8rem 1.2rem; 
    position: relative;
    height: 600px;
    margin: 2rem auto 24px;
}

.footer-content .content {
    position: absolute;
    font-weight: 800;
    white-space: nowrap;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin-bottom: 5rem;
    
}
.footer-content .content:nth-child(1) {
    top: 40px;
    left: 15%;
    font-size: 4rem;
}

.footer-content .content:nth-child(2) {
    top: 30px;
    right: 14%;
    font-size: 5rem;
}

.footer-content .content:nth-child(3) {
    top: 230px;
    left: 6%;
    font-size: 3.5rem;
}

.footer-content .content:nth-child(4) {
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
}

.footer-content .content:nth-child(5) {
    top: 400px;
    right: 12%;
    font-size: 3rem;
}

.footer-content .content:nth-child(6) {
    top: 390px;
    left: 26%;
    font-size: 3.5rem;
}

.info {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .35);
    padding: 28px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: var(--container);
    margin: 0 auto;
    text-align: center;
}
.footer-item {
    font-weight: 800;
    font-size: clamp(1.2rem, 1.8vw, 1.8rem);
}
.footer-label {
    margin: 0 0 6px;
    color: #eaeaea;
    font-weight: 700;
    font-size: clamp(1.1rem, 1.6vw, 1.6rem);
}
.info a {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.info a:hover {
    opacity: .9;
}