#pro-text{
    display: flex;
    justify-content: space-between;
    .left-list{
        margin-left: 1rem;
    }
    .pro-title{
        font-size: 12rem;
        margin-top: 10rem;
        line-height: 0.6;
        span{
            font-size: 10rem;
            padding-left: 40rem;
        }
    }
    .pro-sub{
        font-size: 5rem;
        color: #888;
        margin-top: 0;
        li{
            margin: 1.5rem 1.3rem;
            transition: transform .18s ease, color .18s ease;
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
                color: red;
            }
        }
        .text-two, .text-four{
            text-align: end;
            margin-left: 8rem;
        }
    }
    .image-list{
        margin-top: 18rem;
        margin-right: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button{
            border: 1px solid #222;
            background-color: #fff;
            outline: none;
            border: none;
            font-size: 3rem;
            border-radius: 5rem; 
            text-align: center;

        }
        p{
            font-size: 3rem;
            line-height: 1;
        }
        .image-hidden{
            text-align: center;
            width: 750px;
            height: 700px;
            background-color: #999;
            img{
                width: 650px;
                height: 600px;
                border-radius: 2rem;
                padding: 1rem 0;
        }
        }
    }
}